

.NavBar {
    top: 0;
}

#Header {
    top: 0;
    width: 100%;
    background-color: turquoise;
    
    
}



.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    text-align: center;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.topnav h1 {
    position: absolute;
    float: left;
    display: block;
    height: 100%;
    left: 19%;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1.2%;
    border: 0px;
    margin: 0px;
    font-size: 2.2vw;
    text-decoration: none;

}
.topnav a {
    float: right;
    display: block;
    height: 100%;
    color: #000000;
    text-align: center;
    align-content: center;
    padding: 2%;
    text-decoration: none;
    font-size: 1vw;
}

.topnav a:hover {
    background-color: #4aaaa5;
    color: black;
}

.active {
    background-color: #4aaaa5;
    color: rgb(0, 0, 0);
}

.mainBody {
    width: 63.7%;
    position: relative;
    left: 18.5%;
    top: 50px;
    background-color: tan;
    z-index: 1;
}

body {
width: 100%;
background-color: #dddddd;

}
