

.NavBar {
    top: 0;
}

#Header {
    top: 0;
    float: left;
    background-color: turquoise;
    
    
}



.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    
    top: 0px;
    text-align: center;
    
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.topnav h1 {
    float: left;
    display: block;
    color: white;
    background-color: rgb(35, 192, 231);
    text-align: center;
    padding: 10px;
    border: 0px;
    margin: 0px;
    font-size: 17px;
    text-decoration: none;

}
.topnav a {
    float: right;
    display: block;
    color: #554e4e;
    text-align: center;
    align-content: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
}

.topnav a:hover {
    background-color: rgb(35, 192, 231);
    color: black;
}

.active {
    background-color: rgb(35, 192, 231);
    color: rgb(0, 0, 0);
}

body {
    background-color: tan;

}
